{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 20px;
}

header img {
    max-height: 80px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

main {
    padding: 40px;
    text-align: center;
}

footer {
    background-color: #eeeeee;
    text-align: center;
    padding: 15px;
}

.redes-sociais img {
    width: 24px;
    margin: 0 5px;
}

.galeria {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    margin: 20px 0;
}

.galeria img {
    width: 200px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1)
}

table {
    width: 60%;
    border-collapse: collapse;
    margin: 20% auto;
}

th, td {
    border: 1% solid #ccc;
    padding: 12%;
    text-align: center;
}

